@import "tailwindcss";
@tailwind utilities;

html,
body {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #18313b);
  background: linear-gradient(to right, #2c5364, #203a43, #19333f);
}

nav{
  background: #2d5d6b;
  color: white;
}
aside{
  background: #2d5d6b;
  color: white;
}